// this file is resbonsible for basic configuration
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$font-color: #333;
$red: #ef4444;
$yellow: #fbbf24;
$green: #22c55e;
$main-color: #64748b;
$left-side: #f1f5f9;
$hover-back: #cbd5e1;
$border-color: #2dd4bf;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

html {
  font-family: "Roboto";
  box-sizing: border-box;
  font-size: 62.5%;

  @media (max-width: 1200px) {
    font-size: 56.5%;
  }

  @media (max-width: 800px) {
    font-size: 50%;
  }

  @media (max-width: 550px) {
    font-size: 40%;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.overlay {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  z-index: 343343434;
}

input {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}
